{% extends 'base.html' %}
{% load static %}

{% block title %}Board List {% endblock %}

{% block contents %}
    <p></p>

    <div class="row">
        <p class="lead text-light bg-dark"><b>Board List</b></p>
    </div>
    <table class="table table-hover">
        <caption style="text-align: right; caption-side: top;">Total : 3</caption>
        <thead>
        <tr class="table-info">
            <th style="width: 10%">No.</th>
            <th style="width: 50%">Title</th>
            <th style="width: 20%">Writer</th>
            <th style="width: 20%">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">3</th>
            <td><span class="badge badge-pill badge-primary">N</span> 게시글 입니다.</td>
            <td>nicekkong</td>
            <td>04-24</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>연습으로 작성한 글입니다.</td>
            <td>mario</td>
            <td>03-30</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>첫번째 글입니다.</td>
            <td>child</td>
            <td>03-24</td>
        </tr>
        </tbody>
    </table>


{% endblock contents %}